.App {
  text-align: center;
}

.AppBackground {
  background: hsla(180, 33%, 88%, 1);

  background: linear-gradient(135deg, hsla(180, 33%, 88%, 1) 0%, hsla(310, 100%, 86%, 1) 62%, hsla(256, 83%, 72%, 1) 100%);

  background: -moz-linear-gradient(135deg, hsla(180, 33%, 88%, 1) 0%, hsla(310, 100%, 86%, 1) 62%, hsla(256, 83%, 72%, 1) 100%);

  background: -webkit-linear-gradient(135deg, hsla(180, 33%, 88%, 1) 0%, hsla(310, 100%, 86%, 1) 62%, hsla(256, 83%, 72%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#D7EBEB", endColorstr="#FFBAF4", GradientType=1);
}